[submodule "vimfiles/sources/snipmate-snippets"]
	path = vimfiles/sources/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "vimfiles/sources/vim-snipmate"]
	path = vimfiles/sources/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vimfiles/sources/vim-ruby"]
	path = vimfiles/sources/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vimfiles/sources/vim-pathogen"]
	path = vimfiles/sources/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vimfiles/sources/vim-endwise"]
	path = vimfiles/sources/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vimfiles/sources/vim-addon-mw-utils"]
	path = vimfiles/sources/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vimfiles/sources/tlib_vim"]
	path = vimfiles/sources/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vimfiles/sources/syntastic"]
	path = vimfiles/sources/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimfiles/sources/supertab"]
	path = vimfiles/sources/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vimfiles/sources/nerdtree"]
	path = vimfiles/sources/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/sources/vim-afc"]
	path = vimfiles/sources/vim-afc
	url = https://github.com/adrianoalmeida7/vim-afc.git
[submodule "vimfiles/sources/vim-fugitive"]
	path = vimfiles/sources/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/sources/vim-github-theme"]
	path = vimfiles/sources/vim-github-theme
	url = git@github.com:ricardovaleriano/vim-github-theme.git
